s.Bus{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 5px;
}

.BusLine{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  display: inline-block;
  line-height: 32px;
  font-weight: 600;
  width: 40px;
}

.BusTime{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  display: inline-block;
  text-align: left;
  line-height: 28px;
  width: 200px;
}
