.App {
  text-align: center;
  background: #000000;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  /* width: 1920px; */
  /* height: 1080px; */
  position: relative;
  overflow: hidden;
  min-height: 1500px;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;
	user-select: none;
}

.TopLeft{
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: auto;
  min-height: 30%;
  margin: 50px;
}
.TopRight{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: auto;
  min-height: 30%;
  margin: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.Message{
  position: absolute;
  bottom: 50px;
  left: 20%;
  width: 60%;
}

.videoPlayer{
  width: 640px;
  height: 480px;
  position: absolute;
  bottom: 150px;
  left: calc(50% - 320px);
  display: block;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
